.cta {
    font-size: 14px;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: center;
    font-family: 'HelveticaNeue';
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
    letter-spacing: 1px;

    &.disabled {
        cursor: not-allowed;
        opacity: .65;
        box-shadow: none;
        background-color: #a7a7a7;
        border-color: #a7a7a7;
        &:before {
            content: '';
        }
        &:hover {
            background-color: #a7a7a7;
            border-color: #a7a7a7;
            color: #ffffff;
        }
    }

    &-primary {
        background-color: $primary;
        color: #ffffff;
        border: 1px solid $primary;

        &:hover {
            color: $white;
            background-color: #0b4c75;

        }
    }
    
    &-orange { 
        position: relative;
        font-family: 'HelveticaNeue';
        background-color: $orange-color;
        color: $white;


        &:hover {
            background-color: $orange-color;
            color: #fff;
        }
    }

    &-light { 
        background-color: $light;
        color: #000000;
        border: 1px solid $light;

        &:hover {
            background-color: $primary;
            color: $light;
            border: 1px solid $primary;
        }
    }

    &-dark {
        background-color: $dark;
        color: #ffffff;
        border: 1px solid $dark;

        &:hover {
            background-color: $light;
            color: $dark;
            border: 1px solid $dark;
        }
    }

    &-transparant {
        background-color: transparant;
        color: $dark;
        border: 1px solid $dark;

        &:hover {
            background-color: $dark;
            color: $light;
            border: 1px solid $dark;
        }
    }

    &-see {
        &:before {
            content: '\f105';
            font-family: FontAwesome;
            position: absolute;
            right: 30px;
            transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .5s;

        }

        &:hover {
            &:before {
                right: 20px;
            }
        }

    }

    &-back {
        &:before {
            content: '\f104';
            font-family: FontAwesome;
            position: absolute;
            left: 15px;
            transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .5s;

        }

        &:hover {
            &:before {
                left: 20px;
            }
        }

    }

    &:hover, &:focus {
        text-decoration: none;
    }

    &-small {
        padding: 7px 10px;
        font-size: 12px;
    }

    &-big {
        font-size: 16px;
        padding: 13px 50px;
        @include breakpoint(mobile){
            font-size: 14px;
            padding: 10px 30px;
        }
    }
}

.btn-kotak {
    padding: 0px 20px;
    background: #F8991D;
    width: 60px;
    height: 60px;

    @include breakpoint(mobile){
        width: 40px;
        height: 40px;
    }

    &.arrowbanner{
        background:white;
    }
    &.no-mobile{
        @include breakpoint(mobile){
            display: none;
        }
    }

    &.btn-submit {
        &:before {
            content: "\f105";
            font-family: FontAwesome;
            color: $white;
            position: absolute;
            // padding: 20px;
            font-size: 40px;
            top: 0px;
            left: 40px;
            opacity:0.5;
        }
    }
}

.btn-blok {
    padding: 0px 20px;
    background: #F8991D;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    &.arrowbanner{
        background:white;
    }

    &.btn-submit {
        &:after {
            content: "\f105";
            font-family: FontAwesome;
            color: $white;
            // padding: 20px;
            font-size: 29px;
            opacity:0.5;
            margin-left: 15px;
            margin-top: -4px;
        }
    }
}

.button-area {
    padding-bottom: 50px;
}

.next{
    position: relative;
    float: right;
}

.back{
    float: left;
}

.pimcore_area_bfi-back-widget {
    background-color : #F4F4F4;
    
    .btn-back  {
        padding-top : 5px;
        padding-left : 30px;
    
        @include breakpoint(mobile){
            padding-left: 25px;
        }
        
        .text-btn {
            color : #565656;
            font-size : 14px;
            font-weight : 600;
            margin-left : 15px;
    
            @include breakpoint(mobile){
                margin-left : 10px;
            }
    
            &:before {
                content: '\f104';
                font-family: FontAwesome;
                position: absolute;
                left: -1px;
                top: -10px;
                font-size: 25px;
                opacity: 0.5;
            }

            &:hover {
                color: #04559F;
                font-weight: bold;
            }
        }
    }
}

.share {
    font-weight: 300;
    font-size: 14px;
    margin : 0 20px;
    display: flex;
    justify-content: flex-start;

    @include breakpoint(mobile) {
        margin: 0 5px;
    }
    
    > div {
        margin-right : 20px;
    }

    .share-text {
        padding : 5px;

        @include breakpoint(mobile) {
            margin-right: 5px;
        }
    }
    
    .fa {
        width: 30px;
        height: 30px;
        text-align: center;
        text-decoration: none;
    }
    
    .icon-share {
        font-size : 18px;
        background-color : #C9C9C9;

        @include breakpoint(mobile) {
            margin-right: 15px;
        }
        
        &:hover {
            background-color : #F9991C;
        }

        a > span {
            width: 30px;
            height: 30px;
            text-align: center;
            color : #FFFFFF;
            font-size: 1.3em;
            padding-top: 5px;
        }
    }
}


