.cont-cara {
    left: 0;
    right: 0;

    .cara-kerja {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 60px;
        color: #565656;
        a {
            &:before {
                @include breakpoint(mobile) {
                    right: 10px;
                }
            }
        }

        .title-cara-kerja {
            font-size: 40px;
            font-family: $font_default;
            font-weight: bold;
            color: #04559f;

            @include breakpoint(mobile) {
                font-size: 20px;
            }
        }

        .step-cara {
            font-size: 20px;
            font-family: $font_default;
            margin-bottom: 60px;
            color: #565656;

            @include breakpoint(mobile) {
                font-size: 13px;
                margin-bottom: 30px;
            }
        }

        .list-step {
            display: flex;
            text-align: center;
            flex-wrap: wrap;
            justify-content: space-evenly;

            li {
                width: 20%;
                list-style: none;
                display: inline-block;
                vertical-align: top;
                text-align: center;
                cursor: default !important;

                @include breakpoint(mobile) {
                    margin: 0;
                }

                .img-step {
                    padding: 10px;
                    transition: all 0.5s ease-in-out;

                    img {
                        display: inline-block;
                        width: 70%;
                        @include breakpoint(mobile) {
                            height: auto;
                            max-width: 100%;
                        }
                    }
                }

                &:hover {
                    cursor: pointer;
                }

                p,
                h3 {
                    font-size: 1.2em;

                    @include breakpoint(mobile) {
                        font-size: 15px;
                    }
                }

                .title-step {
                    font-size: 16px;
                    color: #333333;
                    font-weight: 600;
                }

                .desc-step {
                    color: #646464;
                    font-size: 14px;
                }

                span {
                    &:before {
                        font-size: 4em;
                    }
                }
            }
        }
    }
}

.cont-cara--mobile {
    display: none;

    @include breakpoint(mobile) {
        display: block;
        margin-top: -80px;
    }
}

#slider-cara--kerja {
    .list-slider {
        padding: 0 50px;

        > p {
            margin-top: 10px;
            font-size: 18px;
        }
    }

    > button {
        display: none !important;
    }
}
