.cont-cara {
    left: 0;
    right: 0;

    .cara-kerja {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 60px;
        color:#565656;
        a {
            &:before {
                @include breakpoint(mobile) {
                    right: 10px;
                }
            }
        }

        .title-cara-kerja {
            font-size: 40px;
            font-family: 'HelveticaNeue';
            font-weight: bold;
            color: #04559F;

            @include breakpoint(mobile) {
                font-size: 20px;
            }
        }

        .step-cara {
            font-size: 20px;
            font-family: 'HelveticaNeue';
            margin-bottom: 60px;
            color:#565656;

            @include breakpoint(mobile) {
                font-size: 13px;
                margin-bottom: 30px;
            }
        }

        .list-step {
            display: flex;
            text-align: center;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                width: 20%;
                list-style: none;
                display: inline-block;
                vertical-align: top;
                // margin: 20px 50px;
                text-align: center;
                cursor: default !important;

                @include breakpoint(mobile) {
                    // &:first-child{
                    //     margin-left: 50px;
                    // }
                    margin: 0;
                    // width: 15% !important;
                }

                .img-step {
                    padding: 10px;
                    transition: all .5s ease-in-out;

                    img {
                        display: inline-block;
                        height: 55px;
                        width: 55px;

                        @include breakpoint(mobile) {
                            height: auto;
                            max-width: 100%;
                        }
                    }

                }

                &:hover {
                    cursor: pointer;

                    // .img-step {
                    //     padding: 30px;
                    //     background-color: aliceblue;
                    //     border-radius: 50%;
                    //     transition: all .5s ease-in;        
                    // }
                }

                p {
                    font-size: 1.2em;
                    // max-width: 155px;
                    // max-height: 85px;
                    //transform: translateY(20px);

                    @include breakpoint(mobile) {
                        font-size: 15px;
                    }
                }

                span {
                    &:before {
                        font-size: 4em;
                    }
                }
            }
        }
    }
}

.cont-cara--mobile {
    display: none;

    @include breakpoint(mobile) {
        display: block;
        margin-top: -80px;
    }
}

#slider-cara--kerja {

    .list-slider {
        padding: 0 50px;

        >p {
            margin-top: 10px;
            font-size: 18px;
        }
    }

    >button {
        display: none !important;
    }

    // .slick-current.slick-active {}
}