#site-container {
    margin-top: 130px;
    min-height: 575px;

    // &.active {

    // }

    @include breakpoint(mobile) {
        margin-top: 95px;
    }

    .container {
        .container {
            padding: 0;
            width: 100% !important;
        }
    }
}
a {
    &:hover {
        text-decoration: none;
    }
}

#informasi-inspiratif {
    padding: 0px 0;
}
#credit {
    background-color: $blue-dark-color;
    position: relative;
    margin-bottom: -5em;
    .row {
        display: flex;
        @include breakpoint(mobile) {
            flex-direction: column;
        }
    }
    .content-text {
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(mobile) {
            margin-bottom: 32px;
        }
        .title {
            font-size: 28px;
            font-weight: 500;
            color: #fff;
            text-align: left;
            margin: 0;
            @include breakpoint(mobile) {
                font-size: 20px;
                text-align: center;
            }
        }
    }
    .content-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .cta {
            margin: 4px 0;
            @include breakpoint(mobile) {
                width: 80%;
                margin: 4px auto;
            }
        }
    }
}

.title-wrapper {
    font-family: $font_default;
    font-weight: bold;
    font-size: 40px;
    color: #04559f;
    margin-top: 60px;
    padding: 0 8%;

    &.modif-top {
        margin-top: 0;
    }

    @include breakpoint(mobile) {
        // font-size: 1.8em;
        font-size: 20px;
    }

    @include breakpoint(tablet) {
        // font-size: 1.8em;
        font-size: 20px;
    }
}
.paragraf-title {
    font-size: 20px;
    font-family: $font_default;
    color: #565656;

    .t-p {
        padding-left: 10px !important;
    }
    @include breakpoint(mobile) {
        font-size: 1em;
    }

    @include breakpoint(tablet) {
        font-size: 1em;
    }
}

#bfi-cabang {
    background: url("../images/maps.jpg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    .title {
        margin-bottom: 50px;
        .title-wrapper {
            margin-top: 0;
        }
    }
    .button-area.text-center {
        margin: 100px 0;
        @include breakpoint(mobile) {
            margin: auto;
        }
        a {
            background-color: #f8991d;
            border: 1px solid #f8991d;

            &:before {
                @include breakpoint(mobile) {
                    right: 10px;
                }
            }
        }
    }
}

#informasi-inspiratif {
    .button-area.text-center {
        a {
            &:before {
                @include breakpoint(mobile) {
                    right: 10px;
                }
            }
        }
    }
}

.jamoperasional {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 16px;
    p {
        color: #565656;
    }

    span {
        display: block;
    }

    strong {
        color: #04559f;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 970px !important;
    }
}
#site-container {
    .backtoTop {
        width: 50px;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        z-index: 999;
        position: fixed;
        bottom: 12%;
        right: 4%;
        border-color: #f8991d;
        background-color: $orange-color;
        border-radius: 0;
        color: #ffffff;
        text-align: center;
        font-size: 30px;
        display: none;
        .icon-back-to-top:before {
            content: "";
            background: url(../images/icon/backtotop.png) no-repeat;
            color: #04559f;
            height: 25px;
            width: 25px;
            font-size: 40px;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}

.widget-section {
    padding-top: 60px;
    padding-bottom: 60px;
    @include breakpoint(mobile) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
