#site-container {
    margin-top: 130px;
    min-height: 575px;

    // &.active {
        
    // }

    @include breakpoint (mobile) {
        margin-top: 95px;
    }

    .container{
        .container{
            padding: 0;
            width: 100% !important;
        }
    }
}
a {
    &:hover {
        text-decoration: none;
    }
}

#informasi-inspiratif {
    padding: 0px 0;
}
#credit {
    background-repeat:no-repeat;
    background-color: #f1f1f1;
    padding: 24px 0 30px;
    position:relative;

    &:before{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: .7;    
    }

    h2 {
        font-family: 'HelveticaNeue';
        font-weight: 600;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        position:relative;
        font-size:36px;
        @include breakpoint(mobile){
            font-size: 20px;
            letter-spacing: 1px;
            flex-direction: column;
        }
        @include breakpoint(tablet){
            flex-direction: column;
        }
        @include breakpoint(wide){
            flex-direction: row;
        }
        a {
            margin-left: 40px;
            // margin-top:15px;
            font-family: 'HelveticaNeue';
            font-weight: normal;
            background-color:transparent;
            border:1px solid white;
            @include breakpoint(mobile){
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 11px;
                margin: 0;
                padding: 0;
                height: 35px;
                width: 150px;
                &:before{
                    right: 15px;
                }
            }
            @include breakpoint(tablet){
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
    .credit-body {
        width: 75%;
        margin: auto;
        @include breakpoint(mobile){
            width: auto;
        }
    }
}

.title-wrapper {
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 40px;
    color:#04559F;
    margin-top:60px;
    padding:0 8%;

    &.modif-top{
        margin-top:0;
    }

    @include breakpoint(mobile){
        font-size: 1.8em;
    }

    @include breakpoint(tablet){
        font-size: 1.8em;
    }
}
.paragraf-title {
    font-size: 20px;
    font-family: 'HelveticaNeue';
    color:#565656;
    @include breakpoint(mobile){
        font-size: 1em;
    }

    @include breakpoint(tablet){
        font-size: 1em;
    }
}

#bfi-cabang{
    .button-area.text-center{
        a{
            background-color:#F8991D;
            border:1px solid #F8991D;

            &:before{
                @include breakpoint(mobile) {
                    right:10px;
                }   
            }
        }
    }
}

#informasi-inspiratif{
    .button-area.text-center{
        a{
            &:before{
                @include breakpoint(mobile) {
                    right:10px;
                }   
            }
        }
    }
}

.jamoperasional{
    text-align:center;
    margin-bottom:50px;
    margin-top:20px;

    p{
        color:#565656;
    }

    span{
        display:block;
    }

    strong{
        color:#04559F;
    }
}

@media (min-width: 1200px){
    .container {
        width: 970px!important;
    }
}
#site-container {
    .backtoTop {
    width: 50px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    z-index: 999;
    position: fixed;
    bottom: 12%;
    right: 4%;
    border-color: #F8991D;
    background-color: #F8991D;
    border-radius: 0;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    display: none;
        .icon-back-to-top:before {
            content: "";
            background: url(../images/icon/backtotop.png) no-repeat;
            color: #04559F;
            height: 25px;
            width: 25px;
            font-size: 40px;
        }
    }
}