#paginating{
    .pagination{
        border-radius: 0;
        display: flex;
        justify-content: center;
        margin: 40px 0 0 0;

        li{
            &:last-child, &:first-child{
                border-radius: 0;
            }
            
            a{
                border: none;
                margin: 0;
                color: #565656;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;

                .fa{
                    font-size: 20px;
                    opacity: .8;
                }

                // .fa-angle-left{
                //     margin-right: -15px;
                // }
                .fa-angle-right{
                    margin-left: -15px;
                }
            }
        }

        .active{
            a{
                background-color: #F9991C;
                border: none;
                color: #fff;
            }
        }
    }   
}