.download-box {
    p {
        &.title {
            font-size: 2em;
            font-weight: 600;
            color: #04559F;
            margin-top: 40px;
        }
    }

    .down-box {
        width: 100%;
        max-width: 960px;
        min-height: 100px;
        margin: 0 auto;
        padding: 35px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fcfcfc;

        @include breakpoint(mobile) {
            padding: 20px;
        }

        h3 {
            margin: 0;
            font-family: HelveticaNeue-Bold;
            font-size: 26px;
            color:  #04559F;
            padding-right: 20px;

            @include breakpoint(small-mobile) {
                font-size: 15px;
                line-height: 20px;
            }
        }

        .cta-down {
            position: relative;
            padding-left: 56px;
            padding-right: 0;
            letter-spacing: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @include breakpoint(mobile) {
                padding: 0;
                width: 80px;
                height: 80px;
            }

            @include breakpoint(small-mobile) {
                width: 60px;
                height: 60px;
            }

            &::before {
                content: "\f019";
                display: block;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                font-family: FontAwesome;
                font-size: 14px;
                color: $white;
                background-color: $orange-color;
                // position: absolute;
                // top: 0px;
                // left: 0;

                // @include breakpoint(mobile) {
                //     position: relative;
                //     width: 60px;
                //     height: 60px;
                //     line-height: 60px;
                //     font-size: 26px;
                // }

                // @include breakpoint(small-mobile) {
                //     width: 60px;
                //     height: 60px;
                //     line-height: 60px;
                //     font-size: 24px;
                // }
            }

            span {
                font-family: HelveticaNeue-Bold;
                font-size: 15px;
                color: $grey-dark-color;
                text-transform: uppercase;
                text-decoration: underline;
                // color: $dark;
                // border-bottom: 2px solid $dark;

                @include breakpoint(mobile) {
                    display: none;
                }
            }
        }
    }
}