footer {
    background-color: #404040;
    padding: 40px 0 40px;
    color: #000;
    margin-top: 70px;

    .footer-left {
        h3 {
            font-family: 'HelveticaNeue';
            margin: 0 0 20px 0;
            font-weight: 600;
            font-size: 1.4em;
            color: white;
        }

        p {
            font-family: 'HelveticaNeue';
            margin: 0 0 20px 0;
            font-size: 1.1em;
            color: #9A9A9A;
            &:last-child{
                margin: 0;
            }
        }
    }

    .footer-center {
        span {
            font-size: 13px;
            font-family: 'HelveticaNeue';
            display: block;
            // width: calc(100% - 80px);
            width: fit-content;
            color: $light;
            padding: 10px 15px;
            margin-bottom: 20px;
            border: solid 1px #fff;
            cursor: pointer;

            @include breakpoint(mobile) {
                // width: 75%;
                vertical-align: baseline;
                width: fit-content;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            a {
                color: white;
            }
            img{
                width: 15px;
                height: 15px;
                margin: 0 5px 0 5px;
            }
        }

        label {
            font-family: 'HelveticaNeue';
            display: block;
            font-size: 14px;
            color: white;
            margin-bottom: 10px;
        }

        .form-inline {
            .submitfoot {
                background-color: #d88417;
                border: 1px solid #d88417;
            }

            height: 41px;
            margin-bottom: 20px;

            .form-group {
                width: calc(100% - 40%);
                height: 100%;
                margin-right: 15px;
                display: inline-block;
                background-color: white;
            }

            .form-control {
                width: 100%;
                height: 100%;
                border: none;
                font-family: 'HelveticaNeue';
                border-radius: 0;
                background: transparent;
                box-shadow: none;
                padding: 0 10px !important;
            }
        }
    }

    .footer-right {
        .social-media {
            margin-bottom: 20px;

            >a {
                margin-right: 10px;

                >span {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: #404040;
                    font-size: 1.3em;
                    transition: all .2s ease-in-out;

                    &.fa-facebook {
                        background-color: #A0A0A0;
                    }

                    &.fa-twitter {
                        background-color: #A0A0A0;
                    }

                    &.fa-instagram {
                        background-color: #A0A0A0;
                    }

                    &.fa-youtube-play {
                        background-color: #A0A0A0;
                    }

                    &.fa-linkedin {
                        background-color: #A0A0A0;
                    }

                    &:hover {
                        background-color: $white;
                        color: #000;
                    }
                }
            }
        }

        >span {
            font-size: 15px;
            font-family: 'HelveticaNeue';
            color: #9A9A9A;

            @include breakpoint(mobile) {
                float: left;
                width: 50%;
            }
        }

        .img-ojk {
            width: 115px;
            display: block;
            height: auto;

            @include breakpoint(mobile) {
                float: left;
                width: 30%;
            }
        }
    }
}

.footer-bottom {
    background-color: #404040;
    border-top: 1px solid #4E4E4E;
    padding: 20px 0 40px 0;
    font-family: 'HelveticaNeue';

    @include breakpoint(mobile){
        padding: 15px 0 15px 0;        
    }

    .row{
        padding: 0 5px 0 5px;
    }

    &.footer-credit {
        position: fixed;
        width: 100%;
        bottom: 0;

        @include breakpoint(mobile) {
            position: relative;
        }
    }

    span {
        color: #fff;
        font-family: 'HelveticaNeue';
        font-weight: 600;
        letter-spacing: .5px;

        @include breakpoint(mobile) {
            text-align: left;
            display: block;
        }
    }

    .container {
        position: relative;
    }

    .nav-footer {
        // position: absolute;
        // list-style: none;
        // display: block;
        // right: 0;
        // top: 0;

        >li {
            display: inline-block;
            margin-right: 15px;

            @include breakpoint(mobile) {
                margin-right: 10px;
                float: left !important;
            }

            @include breakpoint(tablet) {
                float: right;
            }

            a {
                color: #9A9A9A;

                @include breakpoint(mobile) {
                    font-size: 14px;
                }
            }
        }

        @include breakpoint(mobile) {
            position: relative;
            text-align: left;
            margin: 15px 0;
        }
    }
}

#loader-container {

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;

  &:before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;bottom: 0;
    left: 0;right: 0;
    margin: auto;
    background: url(../images/ajax-loader.gif);
  }

}