.form-body--credit {
    width: calc(0.35 * 100%);
    margin: auto;

    @include breakpoint(mobile){
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    h2 {
        font-family: 'HelveticaNeue-Bold';
        font-weight: bold;
        color:#04559F;
        font-size:26px;
    }

    p {
        font-size: 18px;
        color:#565656;
    }

    .text-head {
        margin: 50px 0;
    }

   
}
.success-wrapper {
    display: none;
    clear: both;
    padding: 50px 0;

    .img-wrap {
        text-align: center;
    }
    img {
        margin: auto;
    }
    h3 {
        font-family: 'HelveticaNeue';
        font-size: 2em;
        font-weight: 600;
        color: $grey-dark-color;
    }

    p {
        font-family: 'HelveticaNeue';
        font-size: 1.2em;
    }
}

.tab-content>.tab-pane {
    clear: both;
}

.form-get--credit {
    margin: 30px 0;
    font-family: 'HelveticaNeue';

    .form-body--credit-simulasi {
        width: calc(0.8 * 100%);
        margin: auto;
        @include breakpoint(mobile){
            width: auto;
        }

        h2 {
            font-family: 'HelveticaNeue-Bold';
            font-weight: 800;
            color:#04559F;
        }
    
        p {
            font-family: 'HelveticaNeue';
            font-size: 1.1em;
        }

        .credit-simulasi{
            padding-bottom: 50px;
        }

        .biaya-agunan{
          
            position: relative;
            padding: 20px;

            .cta-primary{
                background-color: #F0F0F0;
                border: 1px solid #F0F0F0;
                font-size:14px;
            }

            &:after{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 2px;
                margin-left: auto;
                margin-right: auto;
                background-color: $grey-light;
                @include breakpoint(mobile){
                    left: 20px;
                    right: 20px;
                }
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
            .cont-agunan{
                margin-bottom: 20px;
                .title-agunan{
                    font-size: 1.5em;
                    font-family: 'HelveticaNeue';
                    font-weight: 600;
                    @include breakpoint(mobile){
                        margin-right: 100px;
                    }
                }
                .button-angsur{
                    position: absolute;
                    right: 0;
                    top: 20px;
                    @include breakpoint(mobile){
                        
                    }
                }

                table{
                    width: 100%;
                    margin-left: 35px;
                    font-size: 1.3em;

                   tbody{
                       tr{
                           line-height: 2;
                           td:first-child{
                               width: 30%;
                               position: relative;
                               @include breakpoint(mobile){
                                   width: 45%;
                               }
                               &:after{
                                   content: ':';
                                   position: absolute;
                                   right: 10px;
                               }
                           }
                       }
                   }
                }
            }
        }
        .form-group {
            margin-bottom:35px;
            label {
                font-family: 'HelveticaNeue';
                font-size: 16px;
                letter-spacing: 1px;
                display: block;
                position:relative;
                padding:0;
                font-size:18px;

                &.label-agreement {
                    font-family: 'HelveticaNeue';
                    color: #565656;
                    font-size: 1.1em;
                    font-weight: normal;
                    width: 80%;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0;
                } 

                &:last-child {
                    font-size: 14px;
                    margin: 5px 0 0;
                    color: $red-color;

                    
                }
            }
            

            &.inputsimulasi{
                margin-top: 30px;

                .columnselect{
                    display: flex;
                    flex-wrap: nowrap;
                    .list-select{
                        &:first-child{
                            width: 150px;
                            display: flex;
                            align-items: center;
                            label{
                                color: $grey-dark;
                                font-size: 1em;
                            }
                        }
                        &:last-child{
                            width: 100%;
                        }

                        .jcf-select{
                            width:100%;
                        }
                    }
                }
            }

            .input-group {
                .input-group-addon:first-child {
                    font-family: 'HelveticaNeue';
                    padding: 20px;
                    background-color: $light;
                    color: black;
                    border-radius: 2px;
                }

                .form-control:last-child {
                    font-family: 'HelveticaNeue';
                    padding: 25px;
                    height: 60px;
                    border-radius: 2px;
                    text-align: right;
                }
            }

            .slidecontainer{
                margin-top: 20px;
                overflow: hidden;
                padding-right: 10px;
                padding-left: 10px;
       
                .slider-horizontal{   
                    width: 100%;
                    @include breakpoint(mobile){
                        margin: 0 10px 10px;
                    }
                }
                .value-left{
                    float: left;
                }
                .value-right{
                    float:right;
                }
            }
           
            .slider-handle {
                &.custom {
                    &:before {
                        content: '';
                        height: 20px;
                        position: absolute;
                        width: 20px;
                        border-radius: 50%;
                        background-color:#F8991D;
                    }
                }
            }

            .slider-selection{
                background: #F8991D;
            }


        }

        .rincian{
            .rincian--content{
                padding: 30px 50px;
                background: $grey-light;
                margin-top: 30px;
                .title-angsuran{
                    font-weight: bold;
                    font-size: 1.2em;
                }
                table{
                    width: 100%;
                    tr{
                        height: 25px;
                        td{
                            padding: 0 10px 0 0;
                            &:first-child{
                                font-weight: bold;
                            }
                            &.currency{
                                text-align: right;
                            }
                        }
                    }
                }
            }
           .total-estimate{
               padding: 50px;
               background-color: #f4f4f4;
               margin-top: 10px;
               text-align: left;
               margin-bottom:25px;
               p{
                   line-height: 2;
                   font-size:24px;
               }
               .title-angsuran{
                   font-size: 1.5em;
                   margin-bottom:0;
                   
               }
               .total{
                   color: #04559F;
                   font-weight: bold;
                   font-size: 42px;
                   margin-bottom:0;
               }

               .infotext{
                   margin-bottom:30px;
                   font-size:12px;
               }
           }
        }
    }

    .form-group {
        position: relative;
        //margin-bottom:35px;

        .c-custom-select.jcf-hidden{
            &.error + span{
                border:1px solid red;
            }
        }
        
        label {
            font-family: 'HelveticaNeue';
            font-size: 12px;
            letter-spacing: 1px;
            display: block;
            padding: 5px 15px;
            position:absolute;
            color:#04559F;
            display:none;
            z-index:999;

            &.error {
                margin: 10px 0;
                font-family: 'HelveticaNeue-Light';
                font-size: 1em;
                color: $red-color;
                position:relative;
            }

            &:last-child {
                font-size: 14px;
                margin: 0;
                color: $red-color;
            }
        }

        select.form-control {
            line-height: 45px;
            position: relative;

            &:before {
                content: "\f107";
                font-family: "FontAwesome";
                font-size: 2.5em;
                position: absolute;
                left: 5px;
                top: 10px;
            }
        }

        textarea.form-control {
            line-height: inherit;
            height: 150px;
            resize: none;
            padding-top:20px;
        }

        .form-control {
            line-height: 55px;
            height: 70px;
            width:400px;
            font-size: 18px;
            border-radius: inherit;

            @include breakpoint(mobile){
                width:100%;
            }

             @include breakpoint(tablet){
                width:100%;
            }

            &::placeholder {
                font-style: italic;
                color: #dddddd;
            }

            &:focus {
                box-shadow: none;
                border-color: #F9991C;
                outline: none;
            }

            &.error{
                border-color:red;
            }
        }

        // .form-input {
        //     padding: 13px 45px;
        //     font-family: $medium;
        //     background: $primary;
        //     display: inline-block;
        //     color: #fff;
        //     cursor: pointer;

        //     input[type="file"] {
        //         display: none;
        //     }
        // }

        >p {
            display: inline-block;
            font-size: 16px;
            margin-left: 15px;
            font-weight: bold;
        }

        >span {
            display: block;
            margin-top: 5px;
            font-size: 12px;

            &.jcf-checkbox {
                display: inline-block;
                vertical-align: top;

                &.jcf-checked span {
                    height: 10px;
                    width: 25px;
                    top: -5%;
                    left: 35%;
                }
            }
        }

        .jcf-select {
            cursor: pointer;
            position: relative;
            display: block;
            width: 400px;
            height: 60px;
            max-width: 100%;
            line-height: 40px;
            padding-left: 13px;
            padding-right: 15px;
            padding-top:2px;
            border: 1px solid $grey-dark;
            cursor: pointer;
            margin: 0;
            border-radius: 2px;

            @include breakpoint(mobile){
                width:100%;
            }

             @include breakpoint(tablet){
                width:100%;
            }

            .jcf-select-text {
                font-family: 'HelveticaNeue';
                cursor: pointer;
                font-size: 1.3em;
                margin-left:0;
            }

            &.jcf-drop-active {
                >.jcf-select-opener:before {
                    transform: rotate(180deg);
                }
            }

            // Main options Box
            &-drop {
                position: absolute;
                left: -1px;
            }

            .jcf-select-opener {
                padding: 20px;
                background: $light;

                &:before {
                    content: '\f107';
                    font-family: "FontAwesome";
                    font-size: 2.5em;
                    position: absolute;
                    left: 5px;
                    top: 10px;
                }
            }

            /* width */
            ::-webkit-scrollbar {
              width: 7px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
              background: #f1f1f1; 
              border-radius: 10px;
            }
             
            /* Handle */
            ::-webkit-scrollbar-thumb {
              background: #04559F; 
              border-radius: 10px;
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
              background: #04559F; 
            }
        }

        .jcf-select-text {
            line-height: 60px;
            font-size: 16px;
        }

        .jcf-focus,
        .jcf-focus * {
            border-color: $grey-dark !important;

        }

        .jcf-drop-active {
            .jcf-select-drop {
                border-right-color: $grey-dark !important;
                border-bottom-color: $grey-dark !important;
                border-left-color: $grey-dark !important;
                background-color: $light;

            }
        }

        .jcf-select-drop {
            .jcf-select-drop-content {
                border: 1px solid $grey-dark;
            }
        }



        // Main list of options box
        .jcf-list-content {
            display: block;
            position: relative;
            top: 0px;
            border: 1px solid;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    &:first-child {
                        cursor: not-allowed;
                    }
                }
            }
        }

        // Option style 
        .jcf-option {
            font-family: 'HelveticaNeue';
            font-weight: normal;
            display: block;
            cursor: pointer;
            padding: 18px 15px;
            background: $white;
            font-size: 16px;
            color:#565656;
            height:50px;

            &:hover {
                background: #F7F7F7;
                color: #565656;
            }

            // Hide first option 
            &.jcf-option-hideme {
                display: none;
            }
        }

    }
}

.file-upload{
    display:block;
    text-align:center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;

    .file-select {
        display:block;
        color: #34495e;
        cursor:pointer;
        height:40px;
        line-height:40px;
        text-align:left;
        background:$white;
        overflow:hidden;
        position:relative;

        .file-select-button {
            font-family: 'HelveticaNeue';
            background: #0069aa;
            color: $white;
            padding: 0 20px;
            display:inline-block;
            height: 40px;
            line-height:40px;
        }

        .file-select-name {
            line-height:40px;
            display:inline-block;
            padding:0 10px;
        }

        input[type=file] {
            font-family: 'HelveticaNeue';
            z-index:100;
            cursor:pointer;
            position:absolute;
            height:100%;
            width:100%;
            top:0;
            left:0;
            opacity:0;
            filter:alpha(opacity=0);
        }

        &.file-select-disabled {
            opacity:0.65;

            &:hover {
                cursor:default;
                display:block;
                border: 2px solid #dce4ec;
                color: #34495e;
                cursor:pointer;
                height:40px;
                line-height:40px;
                margin-top:5px;
                text-align:left;
                background:$white;
                overflow:hidden;
                position:relative;

                .file-select-button {
                    background:#dce4ec;
                    color:#666666;
                    padding:0 10px;
                    display:inline-block;
                    height:40px;
                    line-height:40px;
                }

                .file-select-name {
                    line-height:40px;
                    display:inline-block;
                    padding:0 10px;
                }
            }
        }
    }
}

.otp-number {
    text-align: center;
    .otp-number__phone {
        margin: 20px auto;
        display: inline-block;
        padding: 15px 20px;
        background: white;
        border:1px solid #E2E2E2;
        &.disabled {
            background: #F2F2F2
        }
        p {
            letter-spacing: 1px;
            margin: 0;
            font-family: 'HelveticaNeue';
            font-size: 1.2em;
            color: #565656;
            input {
                outline: none;
            }
        }

        img {
            margin-left: 10px;
            width: 20px;
        }
    }

    .otp-number__verify {
        margin-bottom: 20px;

        .input-number {
            text-align: center;
            font-family: 'HelveticaNeue';
            margin: 0 15px;
            padding: 10px;
            width: 50px;
            font-size: 1.2em;
            outline: none;
            border-bottom: 2px solid $grey-light-color;

            @include breakpoint(mobile){
                width: calc( 20% - 30px )
            }
        }
    }

    .otp-number__text {
        p {
            font-family: 'HelveticaNeue';
            font-size: 1em;

            span{
                font-weight:bold;
                color:#D8D8D8;
            }
        }

        .countdown {
            font-weight: 600;

            &.countdown--reload {
                color: $grey-dark-color;
            }
        }
    }
}

#otpEditPhone {
    cursor: pointer;
}

.modal {
    &.modal--failed {
        z-index: 99999;
        .modal-body {
            padding: 50px;
        }
        p {
            font-family: 'HelveticaNeue';
            font-size: 1.2em;
            color: $grey-dark-color;
        }

        .cta-orange {
            padding-right: 20px;
            border-radius: 3px;
            &::after {
                content: '';
            }
        }
        
    }
}

.chosen-container {
    width: 100% !important;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: unset;
    box-shadow: none;
}

.chosen-container-active .chosen-single {
    box-shadow: none;
}

.chosen-container-single .chosen-single {
    border-radius: 0;
    background: unset;
    box-shadow: none;
}

.chosen-container-single .chosen-single {
    height: auto;
    padding: 17px 20px;
    border: 1px solid #ccc;

    &::after {
        font-family: 'FontAwesome';
        content: "\f107";
        background: unset;
        position: absolute;
        right: 15px;
        top: 17px;
        font-size: 2em;
    }
}


.chosen-container-single .chosen-single span {
    font-size: 1.2em;
}

#ex6SliderVal{
    width:340px;
    @include breakpoint(mobile){
        width: 100%;
    }
}

#ajax-loading{
    display:inline-block;
}

.fa-pencil{
    b{
        margin-left:10px;
        color:black;
    }
    &:before{
        color:black;
    }
}



