.form-body--credit {
    width: calc(0.422 * 100%);
    margin: auto;

    @include breakpoint(mobile) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    @include breakpoint(wide) {
        width: calc(0.52 * 100%);
    }

    @include breakpoint(desktop) {
        width: calc(0.42 * 100%);
    }

    h2 {
        font-family: 'HelveticaNeue-Bold';
        font-weight: bold;
        color: #04559F;
        font-size: 26px;

        &.text-center-edit {
            display: none;
            text-align: center;
        }
    }

    p {
        font-size: 18px;
        color: #565656;
    }

    .text-head {
        margin: 50px 0;

        @include breakpoint(mobile) {
            margin: 30px 0;
        }
    }

    .title-input{
        font-size: 22px;
    }
}

.success-wrapper {
    display: none;
    clear: both;
    padding: 50px 0;

    .img-wrap {
        text-align: center;

        .icon-thank-page {
            width: 120px;
            height: 91px;
        }
    }

    .text-wrap {
        padding: 0 15px;
    }

    img {
        margin: auto;
    }

    h3 {
        font-family: 'HelveticaNeue';
        font-size: 2em;
        font-weight: 600;
        color: $grey-dark-color;
    }

    p {
        font-family: 'HelveticaNeue';
        font-size: 1.2em;
    }
}

.tab-content>.tab-pane {
    clear: both;
}

.form-get--credit {
    margin: 30px 0;
    font-family: 'HelveticaNeue';

    .form-body--credit-simulasi {
        width: 100%;
        margin: auto;

        @include breakpoint(mobile) {
            width: auto;
        }

        h2 {
            font-family: 'HelveticaNeue-Bold';
            font-weight: 800;
            color: #04559F;

            &.text-center-edit {
                display: none;
                text-align: center;
            }
        }

        p {
            font-family: 'HelveticaNeue';
            font-size: 1.1em;
        }

        .credit-simulasi {
            padding-bottom: 50px;
        }

        .biaya-agunan {

            position: relative;
            padding: 20px;

            .cta-primary {
                background-color: #F0F0F0;
                border: 1px solid #F0F0F0;
                font-size: 14px;
                width: 140px;
                height: 50px;

                @include breakpoint(mobile) {
                    width: 35px;
                    height: 35px;
                    padding: 0;
                }

                b {
                    color: black;
                    opacity: 0.8;
                    margin-left: 10px;

                    @include breakpoint(mobile) {
                        display: none;
                    }
                }
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 2px;
                margin-left: auto;
                margin-right: auto;
                background-color: $grey-light;

                @include breakpoint(mobile) {
                    left: 20px;
                    right: 20px;
                }
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }

            .cont-agunan {
                margin-bottom: 20px;

                .title-agunan {
                    width: 100%;
                    font-size: 22px;
                    font-family: 'HelveticaNeue';
                    font-weight: 600;

                    @include breakpoint(mobile) {
                        margin-right: 100px;
                        font-size: 14pt;
                    }
                }

                .button-angsur {
                    position: absolute;
                    right: 0;
                    top: 20px;
                }

                table {
                    width: 100%;
                    font-size: 18px;


                    @include breakpoint(mobile) {
                        font-size: 0.8em;
                    }

                    tbody {
                        tr {
                            line-height: 2;
                            vertical-align: top;

                            td {
                                font-size: 1.125rem;

                                @include breakpoint(mobile) {
                                    font-size: .8rem;
                                }

                                &:first-child {
                                    width: 30%;
                                    position: relative;
                                    padding-left: 28px;

                                    .separate-column{
                                        padding-bottom: 30px;
                                    }

                                    @include breakpoint(mobile) {
                                        width: 50%;

                                        &.short {
                                            width: 45%;
                                        }

                                        &.medium {
                                            width: 55%;
                                        }

                                        &.long {
                                            width: 60%;
                                        }
                                    }

                                    &:after {
                                        content: ':';
                                        position: absolute;
                                        top: 0;
                                        right: 10px;

                                        @include breakpoint(mobile) {
                                            right: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .biaya-agunan-mesin {

            position: relative;
            padding: 20px;

            .cta-primary {
                background-color: #F0F0F0;
                border: 1px solid #F0F0F0;
                font-size: 14px;
                width: 140px;
                height: 50px;

                @include breakpoint(mobile) {
                    width: 35px;
                    height: 35px;
                    padding: 0;
                }

                b {
                    color: black;
                    opacity: 0.8;
                    margin-left: 10px;

                    @include breakpoint(mobile) {
                        display: none;
                    }
                }
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 2px;
                margin-left: auto;
                margin-right: auto;
                background-color: $grey-light;

                @include breakpoint(mobile) {
                    left: 20px;
                    right: 20px;
                }
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }

            .cont-agunan {
                margin-bottom: 20px;

                .title-agunan {
                    width: 100%;
                    font-size: 22px;
                    font-family: 'HelveticaNeue';
                    font-weight: 600;

                    @include breakpoint(mobile) {
                        margin-right: 100px;
                        font-size: 14pt;
                    }
                }

                .button-angsur {
                    position: absolute;
                    right: 0;
                    top: 20px;
                }

                table {
                    width: 100%;
                    font-size: 18px;


                    @include breakpoint(mobile) {
                        font-size: 0.8em;
                    }

                    tbody {
                        tr {
                            line-height: 2;
                            vertical-align: top;

                            td {
                                font-size: 1.125rem;

                                @include breakpoint(mobile) {
                                    font-size: .8rem;
                                }

                                &:first-child {
                                    width: 30%;
                                    position: relative;
                                    padding-left: 28px;

                                    .separate-column{
                                        padding-bottom: 30px;
                                    }

                                    @include breakpoint(mobile) {
                                        width: 50%;

                                        &.short {
                                            width: 45%;
                                        }

                                        &.medium {
                                            width: 55%;
                                        }

                                        &.long {
                                            width: 60%;
                                        }
                                    }

                                    &:after {
                                        content: ':';
                                        position: absolute;
                                        top: 0;
                                        right: 10px;

                                        @include breakpoint(mobile) {
                                            right: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .form-group {
            margin-bottom: 20px;

            label {
                font-family: 'HelveticaNeue';
                font-size: 16px;
                letter-spacing: 1px;
                display: block;
                position: relative;
                padding: 0;
                font-size: 18px;

                &.label-agreement {
                    font-family: 'HelveticaNeue';
                    color: #565656;
                    font-size: 1.1em;
                    font-weight: normal;
                    width: calc(100% - 24px);
                    display: inline-block;
                    vertical-align: top;
                    margin: 0;

                    @include breakpoint(mobile) {
                        font-size: .8rem;
                    }
                }

                &:last-child {
                    font-size: 14px;
                    margin: 5px 0 0;
                    color: $red-color;


                }
            }


            &.inputsimulasi {
                margin-top: 30px;

                .form-control.select2-selection {
                    padding-top: 14px;
                }

                .columnselect {
                    display: flex;
                    flex-wrap: nowrap;
                    margin-bottom: 10px;

                    .list-select {
                        position: relative;
                        width: 65%;

                        &:first-child {
                            width: 35%;
                            display: flex;
                            align-items: center;

                            label {
                                color: #565656;
                                font-size: 1em;
                            }
                        }

                        &:last-child {
                            width: 100%;
                        }

                        .jcf-select {
                            width: 250px;

                            @include breakpoint(mobile) {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .input-group {
                .input-group-addon:first-child {
                    font-family: 'HelveticaNeue';
                    padding: 20px;
                    background-color: $light;
                    color: black;
                    border-radius: 2px;
                }

                .form-control:last-child {
                    font-family: 'HelveticaNeue';
                    padding: 25px;
                    height: 60px;
                    border-radius: 2px;
                    text-align: right;
                }
            }

            .slidecontainer {
                margin-top: 20px;
                overflow: hidden;
                padding-right: 10px;
                padding-left: 10px;
                margin-left: -10px;
                margin-right: -10px;
                width: 420px;

                @include breakpoint(mobile) {
                    width: auto;
                }

                @include breakpoint(tablet) {
                    width: auto;
                }

                @include breakpoint(wide) {
                    width: auto;
                }

                @include breakpoint(desktop) {
                    width: auto;
                }

                .slider-horizontal {
                    width: 100%;

                    @include breakpoint(mobile) {
                        margin: 0 0px 10px;
                        width: 100%;
                    }
                }

                .value-left {
                    float: left;
                }

                .value-right {
                    float: right;
                }
            }

            .slider-handle {
                &.custom {
                    &:before {
                        content: '';
                        height: 20px;
                        position: absolute;
                        width: 20px;
                        border-radius: 50%;
                        background-color: #F8991D;
                    }
                }
            }

            .slider-selection {
                background: #F8991D;
            }


        }

        .rincian {
            .rincian--content {
                padding: 30px 15px;
                background-color: #f8f8f8;
                margin-top: 30px;

                @include breakpoint(mobile) {
                    padding: 30px 15px;
                }

                .title-angsuran {
                    font-weight: bold;
                    font-size: 1.2em;

                    @include breakpoint(mobile) {
                        font-size: 12pt;
                    }
                }

                table {
                    width: 100%;

                    @include breakpoint(mobile) {
                        font-size: 0.7em;
                    }

                    tr {
                        height: 25px;

                        td {
                            padding: 0 10px 0 0;

                            &:first-child {
                                font-weight: bold;
                                font-size: 10pt;
                            }

                            &.currency {
                                text-align: right;
                                font-size: 10pt;
                            }

                            &.textsubcurrency {
                                padding-left: 20px;
                            }
                        }
                    }
                }
            }

            .total-estimate {
                padding: 50px;
                background-color: #EFEFEF;
                margin-top: 10px;
                text-align: left;
                margin-bottom: 25px;

                @include breakpoint(mobile) {}

                p {
                    line-height: 2;
                    font-size: 24px;
                }

                .title-angsuran {
                    font-weight: bold;
                    margin-bottom: 0;

                    @include breakpoint(mobile) {
                        font-size: 12pt;
                    }

                }

                .total {
                    color: #04559F;
                    font-weight: bold;
                    font-size: 42px;
                    margin-bottom: 0;

                    @include breakpoint(mobile) {
                        font-size: 21pt;
                    }
                }

                .infotext {
                    margin-bottom: 30px;
                    font-size: 12px;

                    @include breakpoint(mobile) {
                        font-size: 0.8em;
                    }
                }
            }
            .total-estimate-travel{
                margin-top: 0px;
            }
        }
    }

    .form-group {
        position: relative;
        //margin-bottom:35px;

        .c-custom-select.jcf-hidden {
            &.error+span {
                border: 1px solid red;
            }
        }
        
        label {
            font-family: 'HelveticaNeue';
            font-size: 12px;
            letter-spacing: 1px;
            padding: 5px 15px;
            position: absolute;
            color: #04559F;
            display: none;
            z-index: 1;

            &.error {
                margin: 10px 0;
                font-family: 'HelveticaNeue-Light';
                font-size: 1em;
                color: $red-color;
                position: relative;
            }

            &:last-child {
                font-size: 14px;
                margin: 0;
                color: $red-color;
            }
        }

        .radio-group{
            overflow: hidden;

            .radio-inside{
                width: 50%;
                float: left;

                &.full {
                  width: 100%;
                }

                .jcf-radio {
                  vertical-align: top;
                  margin-top: 5px;
                  width: 20px;
                  height: 20px;
                }

                .jcf-radio.jcf-checked span {
                  top: 2px;
                  left: 2px;
                  right: 2px;
                  bottom: 2px;
                }

                label{
                    color: #8d8e8f;
                    position: relative;
                    display: inline-block;
                    width: calc( 100% - 28px );
                    padding-left: 5px;
                    font-size: 18px;
                    font-weight: normal;
                }

                /* The container */
                .container {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    letter-spacing: 0px;
                    font-weight: 500;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
                
                /* Hide the browser's default radio button */
                .container input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }
                
                /* Create a custom radio button */
                .checkmark {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                    border-radius: 50%;
                }
                
                /* On mouse-over, add a grey background color */
                .container:hover input ~ .checkmark {
                    background-color: #ccc;
                }
                
                /* When the radio button is checked, add a blue background */
                .container input:checked ~ .checkmark {
                    background-color: #8d8e8f;
                }
                
                /* Create the indicator (the dot/circle - hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                
                /* Show the indicator (dot/circle) when checked */
                .container input:checked ~ .checkmark:after {
                    display: block;
                }
                
                /* Style the indicator (dot/circle) */
                .container .checkmark:after {
                    top: 9px;
                    left: 9px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: white;
                }
            }
        }

        .checkbox-group{
            overflow: hidden;

            .checkbox-inside{
                width: 50%;
                float: left;

                &.full {
                  width: 100%;
                }

                .jcf-checkbox {
                  vertical-align: top;
                  margin-top: 8px;
                  width: 20px;
                  height: 20px;
                  overflow: unset;
                }

                .jcf-checkbox.jcf-checked span {
                  display: block;
                  width: 20px;
                  height: 10px;
                  margin: -10px 0 0 -7px;
                }

                label{
                    color: #8d8e8f;
                    position: relative;
                    display: inline-block;
                    width: calc( 100% - 28px );
                    padding-left: 5px;
                    font-size: 18px;
                    font-weight: normal;
                }

                /* The container */
                .container {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    letter-spacing: 0px;
                    font-weight: 500;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
                
                /* Hide the browser's default radio button */
                .container input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }
                
                /* Create a custom radio button */
                .checkmark {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                    border-radius: 50%;
                }
                
                /* On mouse-over, add a grey background color */
                .container:hover input ~ .checkmark {
                    background-color: #ccc;
                }
                
                /* When the radio button is checked, add a blue background */
                .container input:checked ~ .checkmark {
                    background-color: #8d8e8f;
                }
                
                /* Create the indicator (the dot/circle - hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                
                /* Show the indicator (dot/circle) when checked */
                .container input:checked ~ .checkmark:after {
                    display: block;
                }
                
                /* Style the indicator (dot/circle) */
                .container .checkmark:after {
                    top: 9px;
                    left: 9px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: white;
                }
            }
        }

        select.form-control {
            line-height: 1;
            position: relative;
            padding-top: unset;
            padding-bottom: unset;

            option {
                &:checked {
                    background: #eee -webkit-linear-gradient(bottom, #eee 0%, #eee 100%);
                }
            }
        }

        select.form-control[multiple] {
            padding-top: 32px;
            overflow: hidden;
        }

        textarea.form-control {
            line-height: inherit;
            height: 150px;
            resize: none;
            padding-top: 20px;

            &::placeholder {
                color: #aaa;

                /* Firefox */
                &:after {
                    content: "123123123";
                    color: red;
                    opacity: 1;
                }
            }

            &:-ms-input-placeholder {
                color: #aaa;

                /* Firefox */
                &:after {
                    content: "123123123";
                    color: red;
                    opacity: 1;
                }
            }

            &::-ms-input-placeholder {
                color: #aaa;

                /* Firefox */
                &:after {
                    content: "123123123";
                    color: red;
                    opacity: 1;
                }
            }
        }

        .form-control {
            height: 70px;
            width: 100%;
            font-size: 18px;
            border-radius: inherit;
            padding-top: 20px;
            padding-bottom: 20px;

            &::placeholder {
                font-style: italic;
                color: #aaa;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                font-style: italic;
                color: #aaa;
                opacity: 1;
            }

            &::-ms-input-placeholder {
                font-style: italic;
                color: #aaa;
                opacity: 1;
            }

            &:focus {
                box-shadow: none;
                border-color: #F9991C;
                outline: none;
            }

            &.error {
                border-color: red;
            }
        }

        // .form-input {
        //     padding: 13px 45px;
        //     font-family: $medium;
        //     background: $primary;
        //     display: inline-block;
        //     color: #fff;
        //     cursor: pointer;

        //     input[type="file"] {
        //         display: none;
        //     }
        // }

        >p {
            display: inline-block;
            font-size: 16px;
            margin-left: 15px;
            font-weight: bold;
        }

        >.columnselect>.list-select>span {
            display: unset;
            top: calc(100% - 5px) !important;
        }

        >span {
            display: block;
            margin-top: 5px;
            font-size: 12px;
            top: calc(100% - 5px) !important;
            width: 100%;

            &.select2-container {
                width: 100% !important;
            }

            &.jcf-checkbox {
                display: inline-block;
                vertical-align: top;
                width: 16px;

                span {
                    border-color: #7AC143 !important;
                    border-width: 0 0 3px 3px;
                }

                &.jcf-checked span {
                    height: 10px;
                    width: 25px;
                    top: -5%;
                    left: 35%;
                }
            }

            &.jcf-radio {
                display: inline-block;
                vertical-align: top;
                width: 16px;

                span {
                    border-color: #7AC143 !important;
                    border-width: 0 0 3px 3px;
                }

                &.jcf-checked span {
                    height: 10px;
                    width: 25px;
                    top: -5%;
                    left: 35%;
                }
            }
        }

        &.chk-label {
          cursor: pointer;
          >span {
            display: block;
            margin-top: 5px;
            font-size: 12px;
            top: calc(100% - 5px) !important;
            width: 100%;

            &.select2-container {
                width: 100% !important;
            }

            &.jcf-checkbox {
                display: inline-block;
                vertical-align: top;
                width: 25px;
                height: 25px;

                span {
                    border-color: #7AC143 !important;
                    border-width: 0 0 3px 3px;
                }

                &.jcf-checked span {
                    height: 13px;
                    width: 33px;
                    top: 0%;
                    left: 22%;
                    border-color: #565656 !important;
                }
            }
          }

          label {
            position: relative;
            display: inline-block;
            width: calc( 100% - 35px );
            font-family: 'HelveticaNeue';
            font-size: 16px;
            font-weight: normal;
            padding-left: 0;
            color: #565656;
            letter-spacing: 0;
          }
        }

        .jcf-select {
            cursor: pointer;
            position: relative;
            display: block;
            width: 400px;
            height: 60px;
            max-width: 100%;
            line-height: 40px;
            padding-left: 13px;
            padding-right: 15px;
            padding-top: 2px;
            border: 1px solid $grey-dark;
            cursor: pointer;
            margin: 0;
            border-radius: 2px;

            @include breakpoint(mobile) {
                width: 100%;
            }

            @include breakpoint(tablet) {
                width: 100%;
            }

            .jcf-select-text {
                font-family: 'HelveticaNeue';
                cursor: pointer;
                font-size: 1.3em;
                margin-left: 0;
            }

            &.jcf-drop-active {
                border: 1px solid #F9991C !important;

                >.jcf-select-opener:before {
                    transform: rotate(180deg);
                }
            }

            // Main options Box
            &-drop {
                position: absolute;
                left: -1px;
            }

            .jcf-select-opener {
                padding: 20px;
                background: $light;

                &:before {
                    content: '\f107';
                    font-family: "FontAwesome";
                    font-size: 2.5em;
                    position: absolute;
                    left: 5px;
                    top: 10px;
                }
            }

            /* width */
            ::-webkit-scrollbar {
                width: 7px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 10px;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #04559F;
                border-radius: 10px;
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #04559F;
            }
        }

        .jcf-select-text {
            line-height: 60px;
            font-size: 16px;
        }

        .jcf-focus,
        .jcf-focus * {
            border-color: $grey-dark !important;

        }

        .jcf-drop-active {
            .jcf-select-drop {
                border-right-color: $grey-dark !important;
                border-bottom-color: $grey-dark !important;
                border-left-color: $grey-dark !important;
                background-color: $light;
                z-index: 99999;
            }
        }

        .jcf-select-drop {
            .jcf-select-drop-content {
                border: 1px solid $grey-dark;
            }
        }



        // Main list of options box
        .jcf-list-content {
            display: block;
            position: relative;
            top: 0px;
            border: 1px solid;
            max-height: 300px !important;
            overflow: auto !important;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    &:first-child {
                        cursor: not-allowed;
                    }
                }
            }
        }

        // Option style 
        .jcf-option {
            font-family: 'HelveticaNeue';
            font-weight: normal;
            display: block;
            cursor: pointer;
            padding: 18px 15px;
            background: $white;
            font-size: 16px;
            color: #565656;
            height: 50px;

            &:hover {
                background: #F7F7F7;
                color: #565656;
            }

            // Hide first option 
            &.jcf-option-hideme {
                display: none;
            }
        }

    }

    .select-wrapper {
        position: relative;

        &.inputsimulasi:after {
            position: absolute;
            content: '\f107';
            font-family: "FontAwesome";
            right: 15px;
            bottom: 2px;
            font-size: 2.9rem;
            opacity: 0.4;
            pointer-events: none;
        }

        select {
            cursor: pointer;
        }
    }
}

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;

    .file-select {
        display: block;
        color: #34495e;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        text-align: left;
        background: $white;
        overflow: hidden;
        position: relative;

        .file-select-button {
            font-family: 'HelveticaNeue';
            background: #0069aa;
            color: $white;
            padding: 0 20px;
            display: inline-block;
            height: 40px;
            line-height: 40px;
        }

        .file-select-name {
            line-height: 40px;
            display: inline-block;
            padding: 0 10px;
        }

        input[type=file] {
            font-family: 'HelveticaNeue';
            z-index: 100;
            cursor: pointer;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        &.file-select-disabled {
            opacity: 0.65;

            &:hover {
                cursor: default;
                display: block;
                border: 2px solid #dce4ec;
                color: #34495e;
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                margin-top: 5px;
                text-align: left;
                background: $white;
                overflow: hidden;
                position: relative;

                .file-select-button {
                    background: #dce4ec;
                    color: #666666;
                    padding: 0 10px;
                    display: inline-block;
                    height: 40px;
                    line-height: 40px;
                }

                .file-select-name {
                    line-height: 40px;
                    display: inline-block;
                    padding: 0 10px;
                }
            }
        }
    }
}

.otp-number {
    text-align: center;

    .otp-number__phone {
        margin: 20px auto;
        display: inline-block;
        padding: 15px 20px;
        background: white;
        border: 1px solid #F8991D;

        &.disabled {
            background: white;
            border: 1px solid #E2E2E2;
        }

        p {
            letter-spacing: 1px;
            margin: 0;
            font-family: 'HelveticaNeue';
            font-size: 1.2em;
            color: #565656;

            input {
                outline: none;
            }
        }

        img {
            margin-left: 10px;
            width: 20px;
        }
    }

    .otp-number__verify {
        margin-bottom: 20px;

        .input-number {
            text-align: center;
            font-family: 'HelveticaNeue';
            margin: 0 15px;
            padding: 10px;
            width: 50px;
            font-size: 1.2em;
            outline: none;
            border-bottom: 2px solid $grey-light-color;

            @include breakpoint(mobile) {
                width: calc(20% - 30px)
            }

            @include breakpoint(tablet) {
                width: 40px;
            }
        }
    }

    .otp-number__text {
        p {
            font-family: 'HelveticaNeue';
            font-size: 1em;

            span {
                font-weight: bold;
                color: #D8D8D8;
            }
        }

        .countdown {
            font-weight: 600;

            &.countdown--reload {
                color: #F8991D;
            }
        }
    }
}

#otpEditPhone {
    cursor: pointer;
}

.modal {
    &.modal--failed {
        z-index: 99999;

        .modal-body {
            padding: 50px;
        }

        p {
            font-family: 'HelveticaNeue';
            font-size: 1.2em;
            color: $grey-dark-color;
        }

        .cta-orange {
            padding-right: 20px;
            border-radius: 3px;

            &::after {
                content: '';
            }
        }

    }
}

.chosen-container {
    width: 100% !important;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: unset;
    box-shadow: none;
}

.chosen-container-active .chosen-single {
    box-shadow: none;
}

.chosen-container-single .chosen-single {
    border-radius: 0;
    background: unset;
    box-shadow: none;
}

.chosen-container-single .chosen-single {
    height: auto;
    padding: 17px 20px;
    border: 1px solid #ccc;

    &::after {
        font-family: 'FontAwesome';
        content: "\f107";
        background: unset;
        position: absolute;
        right: 15px;
        top: 17px;
        font-size: 2em;
    }
}


.chosen-container-single .chosen-single span {
    font-size: 1.2em;
}

#ex6SliderVal {
    width: 340px;

    @include breakpoint(mobile) {
        width: 100%;
    }

    @include breakpoint(tablet) {
        width: 100%;
    }

    @include breakpoint(wide) {
        width: 100%;
    }

    @include breakpoint(desktop) {
        width: 100%;
    }
}

#ajax-loading {
    display: inline-block;
}

.fa-pencil {
    &:before {
        color: black;
        opacity: 0.5;
    }
}

#kode_pos::placeholder {
    color: #aaa;
}

#kode_pos_sertificate::placeholder {
    color: #aaa;
}

#recalc {
    @include breakpoint(mobile) {
        width: 100%;
    }
}

#basic-addon1, #basic-addon2 {
    display: table-cell !important;
}

#ex6SliderVal-error {
    position: absolute;
    width: 100%;
    bottom: -21px;
}

.select2-selection {
    position: relative;
}

.select2-selection:after {
    position: absolute;
    content: '\f107';
    font-family: "FontAwesome";
    right: 15px;
    top: 2px;
    font-size: 2.5em;
    opacity: .4;
    pointer-events: none;
}

select::-ms-expand {
    display: none;
}

.form-group {
  .input-group.date {
    width: 100%;

    label {
      z-index: 4;
    }

    .form-control {
      width: calc( 100% - 60px );
      border-right: 0;
      // padding-top: 20px !important;
      // padding-bottom: 20px !important;
    }

    button.ui-datepicker-trigger {
      width: 60px;
      height: 70px;
      background: transparent url("/static/images/calendar.png") center center no-repeat;
      border-top: 1px #ccc solid;
      border-bottom: 1px #ccc solid;
      border-right: 1px #ccc solid;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      outline: none;
    }
  }
}

.form-contact {
    .form-group {
        textarea.form-control {
            padding-top : 30px;
        }
        
        .form-control {
            @include breakpoint(tablet){
                font-size: 16px;
            }

            @include breakpoint(mobile){
                font-size: 12px;
            }
        }
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height : 1.5;
        padding-left: 0;
    }
    
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        display : none;
    }
    
    .select-wrapper > label {
        visibility: hidden;
    }

    .captcha {
        text-align : center;

        .g-recaptcha {
            @include breakpoint(mobile){
                transform:scale(0.75);
                -webkit-transform:scale(0.75);
                transform-origin:0 0;
                -webkit-transform-origin:0 0;
            }

            & > div[style] {
                width : inherit !important;

                @include breakpoint(mobile){
                    width: 100vw !important;
                }
            }
        }

    }

    .customer-type {
        &.form-group > label {
            font-family: 'HelveticaNeue';
            font-size: 16px;
            font-weight: normal;
            color: #565656;
            position: relative;
            display: block;
            padding-left: 0;
        }

        .inputform {
            padding: 5px;

            input[type='radio'] {
                transform: scale(1.5);
                margin-right: 15px;

                @include breakpoint(mobile) {
                    margin-right: 5px;
                }
            }

            .jcf-radio span {
                background : #F9991C;
            }
        }

        &.form-group .ipt-radio {
            display: table-cell;
            width: 1%;

            label {
                display : contents;
                color : #04559F;
                font-size : 18px;

                @include breakpoint(tablet) {
                    font-size: 14px;
                }

                @include breakpoint(mobile) {
                    font-size: 12px;
                }
            }
        }
    }
}

.upload-image {
  &.form-group > label {
    font-family: 'HelveticaNeue';
    font-size: 16px;
    font-weight: normal;
    color: #565656;
    position: relative;
    display: block;
    padding-left: 0;
  }
}

.upload-file {

  img { max-width: 100%;display: none;margin-bottom: 15px;  }

  .upload-btn {
    position: relative;
    vertical-align: middle;
    overflow: hidden;

    b { 
      display: inline-block; 
      vertical-align: middle;
      line-height: normal;
      width: calc( 100% - 105px );
      padding-left: 10px;
    }

    button {
      width: 100px;
      height: 50px;
      padding: 10px;
      line-height: 30px;
      background: #04559f;
      outline: none;
      font-family: 'HelveticaNeue';
      font-size: 16px;
      font-weight: bold;
      color: #FFF;
    }

    .file-input { position: absolute; top: 100%; }

  }

}

.form-get--credit .form-body--credit-simulasi .form-group {
  .ipt-radio {
    display: table-cell;
    width: 1%;
    label {
      color: #333;
      font-size: 18px;
    }
  }
}

.mesin-page{
    .steps{
        li{
            width: 20%!important;
        }
    }
    .mesin-down-payment{
        .input-group-addon{
            display: table-cell;
        }
    }
    .machine-funding{
        padding-bottom: 120px;
    }
    .machine-data{
        .form-group{
            input{
                width: 100%!important;
            }
        }
    }
}

.wizard {

  >.steps {

    > ul {
      display: flex;
      justify-content: center;
      >li {
        float: unset;
        width: 18%;
      }
    }

    a, .done a, .current a {
      overflow: hidden;
      // display: inline-flex;

      &, &:hover, &:active {
        color: #000;
        font-weight: bold;
        background: transparent;
      }
    }

    a {
      span.number {
        display: inline-block;
        vertical-align: middle;
        min-width: 30px;
        min-height: 30px;
        line-height: 30px;
        background-color: #dddddd;
        // float: left;
        text-align: center;
        margin-right: 5px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-size: 12px;
        color: white;

        i {
          display: none;
        }
      }

      p {
        width: calc( 100% - 42px );
        display: inline-block;
        vertical-align: middle;
        line-height: 1.3;
        // float: left;
        // display: block;
        color: #565656;
        margin: 0;
        font-size: 16px;
      }
    }

    .done a, .current a {
      span.number {
        background-color: #F9991C;
        color: #fff;
      }
    }

    .done a {
      span.number {
        i {
          display: inline-block;
        }
        b {
          display: none;
        }
      }
    }

    .disabled a {
      &, &:hover, &:active {
        color: #000;
        font-weight: normal;
        background: transparent;
      }
    }


  }

  >.actions {
    ul {
      display: block;

      li {
        float: right;

        &:first-child {
          float: left;
          a:before {
            content: '\f104';
            font-family: FontAwesome;
            position: absolute;
            left: 15px;
            right: auto;
            -webkit-transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
            -o-transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
            -moz-transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
            transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
          }
        }

        a {
          position: relative;
          &, &:visited, &:active {
            height: 50px;
            width: 185px;
            padding: 13px 0px !important;
            background-color: #F8991D;
            border: 1px solid #F8991D;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
          }

          &:hover {
            background-color: #F8991D;
          }

          &:before {
            content: '\f105';
            font-family: FontAwesome;
            position: absolute;
            left: auto;
            right: 30px;
            -webkit-transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
            -o-transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
            -moz-transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
            transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
          }
        }

        &.disabled {
          display: none;
          a {
            border-color: #aaa;
          }
        }

        &.inactive {
          a {
            &, &:visited, &:active {
              background: #eee;
              border-color: #aaa;
              color: #aaa;
            }
          }
        }

      }
    }
  }

}

#showChannel {
  list-style: none !important;
  li {
    padding-left: 30px;
    position: relative;

    &:after {
      content: "";
      width: 15px;
      height: 15px;
      background: #6c6c6c;
      position: absolute;
      left: 0px;
      top: 10px;
    }
  }

}
