body {
    position: relative;
}
.greyout {
    position: absolute;
    // display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

#site-header {
    border-bottom: none;
    font-family: $font_default;

    .backtohome {
        position: relative;
        padding-left: 16px;

        &:before {
            content: "\f104";
            font-family: FontAwesome;
            position: absolute;
            left: -1px;
            top: -10px;
            font-size: 25px;
            opacity: 0.5;
        }
    }

    &.active {
        .header-bottom {
            height: 80px;
            transition: all 0.3s ease-in-out;

            .header-bottom-menu,
            .header-bottom-login {
                height: 80px;
                transition: all 0.3s ease-in-out;

                .header-link-menu .nav {
                    // padding-top: 15px;
                    transition: all 0.3s ease-in-out;

                    #produk .dropdown-content.main {
                        margin-top: 12px;
                        transition: all 0.3s ease-in-out;
                        top: 108px;
                    }
                }
            }

            .header-bottom-logo {
                height: 80px;
                transition: all 0.3s ease-in-out;

                img {
                    width: 50px;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    .header-top {
        background-color: $white;
        // padding: 10px;
        display: flex;
        align-items: center;
        height: 40px;
        a {
            color: grey;

            &._personal {
                color: #04559f;
                font-weight: bold;

                @include breakpoint(mobile) {
                    text-transform: uppercase;
                }
            }

            &._grup {
                @include breakpoint(mobile) {
                    text-transform: uppercase;
                }
            }
        }

        .left-side-top {
            // padding-left: 112px;

            a {
                padding-right: 10px;

                &:hover {
                    color: #04559f;
                    font-weight: bold;
                }
            }
        }

        .right-side-top {
            .link-about-top {
                display: flex;
                justify-content: space-between;
                &.corporate-nav {
                    justify-content: center;
                    a {
                        padding: 0 8px;
                    }
                }
                a {
                    font-family: $font_default;

                    &:hover {
                        color: #04559f;
                        text-shadow: 1px 0px 0px #04559f;
                    }
                }
            }

            .link-log {
                // padding: 0 15px;
                display: flex;
                flex-wrap: wrap;
                float: right;
                margin-left: auto;

                .login {
                    margin-right: 20px;
                    font-weight: bold;
                }

                .user {
                    a.full_name {
                        text-decoration: underline;
                        font-weight: bold;
                        color: #04559f;
                        padding: 0 10px 0 0;
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            -moz-border-radius: 7.5px;
                            -webkit-border-radius: 7.5px;
                            border-radius: 7.5px;
                            background-color: #04559f;
                            margin-right: 10px;
                        }
                    }
                    a.logout {
                        padding: 0 65px 0 10px;
                    }

                    .icon {
                        &:after {
                            content: "";
                            position: absolute;
                            top: 154%;
                            left: 62%;
                            margin-left: -5px;
                            border-width: 8px;
                            border-style: solid;
                            border-color: #fff transparent transparent
                                transparent;
                        }
                    }
                }

                a {
                    &:hover {
                        color: #04559f;
                    }

                    &:focus {
                        text-decoration: none;
                    }

                    // &.login:after {
                    //     content: '';
                    //     position: absolute;
                    //     width: 1px;
                    //     height: 100%;
                    //     background: black;
                    //     margin-left: 10px;
                    // }
                }
            }
        }
        .lang {
            position: absolute;
            right: 17px;

            a {
                font-family: $font_default;
                padding: 0 5px;

                &._EN {
                    color: grey;

                    &.active {
                        color: #04559f;
                        font-weight: bold;
                    }
                }

                &._ID {
                    color: grey;

                    &.active {
                        color: #04559f;
                        font-weight: bold;
                    }
                }

                &:hover {
                    color: #04559f !important;
                    font-weight: bold;
                }

                &.active {
                    color: #04559f;
                    font-weight: bold;
                }
            }
        }
    }

    // img {
    //     width: 70px;
    //     transition: all .3s ease-in-out;
    //     margin-left: 110px;
    // }

    .header-bottom {
        background-color: #04559f;
        transition: all 0.3s ease-in-out;
        height: 100px;
        display: flex;
        align-items: center;

        .header-bottom-logo {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // position: relative;
            // padding: 0;
            // margin-top: 10px;
            // transition: all .3s ease-in-out;

            a {
                // position: absolute;
                // top: 0;
                // bottom: 0;
                // left: 0;
                // right: 0;
                // display: block;
                // margin-top: 10px;

                img {
                    max-height: 70px;
                }
            }
            .ojk {
                padding: 0 8px;
                .top-desc {
                    margin-bottom: 4px;
                    font-size: 9px;
                    line-height: 8px;
                    color: #ffffff;
                }
                img {
                    width: 85px;
                    margin-left: 0;
                }
            }
        }
        .header-bottom-login {
            height: 100px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            a {
                &:hover,
                &:focus {
                    background: none;
                    color: #7ac143;
                }
            }
        }

        .header-bottom-menu,
        .header-bottom-login {
            height: 100px;
            transition: all 0.3s ease-in-out;
            padding: 0;
            .user {
                color: #ffffff;
                font-size: 18px;
            }
            a.login {
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                text-align: right;
                text-decoration: none;
                padding: 10px 20px;
                &.full_name,
                &.logout {
                    padding: 10px 4px;
                }
                &:hover,
                &:focus {
                    background: none;
                    color: #7ac143;
                }
            }
            .header-link-menu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .search-button {
                    a {
                        color: #fff;
                        font-size: 16px;
                    }
                }
                &.active {
                    &:before {
                        content: "";
                        height: 100%;
                        width: 100%;
                        background: rgba(0, 0, 0, 0.6);
                        display: block;
                        position: fixed;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: -1;
                    }
                }

                height: 100%;
                transition: all 0.3s ease-in-out;

                .nav {
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    text-align: center;
                    // position: relative;

                    > .col-md-3 {
                        // padding: 0;
                        // display: inline-block;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        // margin-right: 25px;
                        // max-width: 20%;
                        // max-width: 22%;
                        position: relative;

                        // @include breakpoint(wide) {
                        //     margin-right: 50px;
                        // }

                        &.dropdown:hover::before {
                            content: "";
                            position: absolute;
                            bottom: -40px;
                            left: -385px;
                            width: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid $white;
                            transform: translate(435px, -40px);
                            -webkit-transform: translate(435px, -40px);
                            -moz-transform: translate(435px, -40px);
                            -ms-transform: translate(435px, -40px);
                            -o-transform: translate(435px, -40px);
                        }

                        > a {
                            color: $light;
                            font-family: $bold;
                            font-size: 1.1em;
                            position: relative;
                            padding: 10px 20px;

                            @include breakpoint(wide) {
                                padding: 10px 0;
                            }

                            &:hover,
                            &:focus {
                                background: none;
                                color: #7ac143;
                            }

                            &.produk {
                                &:after {
                                    content: "\f107";
                                    font-family: "FontAwesome";
                                    position: absolute;
                                    right: -10px;
                                    font-weight: 400;
                                }
                            }
                        }

                        // @include breakpoint(wide) {

                        //     .has-child{
                        //         padding: 10px 20px 10px 0;
                        //     }
                        // }
                    }

                    .col-md-3 {
                        a {
                            font-family: $font_default;
                            font-size: 18px;
                            font-weight: 600;
                            text-transform: capitalize;
                            margin: 0 auto;
                            height: 100%;
                            // width: 100%;
                            display: flex;
                            align-items: center;
                            padding-right: 15px;
                            text-decoration: none;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }

                    #produk {
                        .dropdown-content.main {
                            width: 100%;
                            position: fixed;
                            // margin-top: 18px;
                            top: 140px;
                            left: 0;
                            display: none;

                            .produk-hover {
                                background: $white;
                                padding: 40px 50px 20px 50px;
                                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
                                text-align: left;
                                border-radius: 8px;

                                // &:before {
                                //     content: '';
                                //     position: absolute;
                                //     top: 30px;
                                //     left: 9%;
                                //     width: 0;
                                //     border-left: 10px solid transparent;
                                //     border-right: 10px solid transparent;
                                //     border-bottom: 10px solid $white;
                                //     transform: translate(435px, -40px);

                                //     @include breakpoint(tablet) {
                                //         transform: translate(304px, -40px);
                                //         -webkit-transform: translate(304px, -40px);
                                //         -moz-transform: translate(304px, -40px);
                                //         -ms-transform: translate(304px, -40px);
                                //         -o-transform: translate(304px, -40px);
                                //     }

                                //     @include breakpoint(wide) {
                                //         transform: translate(387px, -40px);
                                //         -webkit-transform: translate(387px, -40px);
                                //         -moz-transform: translate(387px, -40px);
                                //         -ms-transform: translate(387px, -40px);
                                //         -o-transform: translate(387px, -40px);
                                //     }

                                //     @include breakpoint(desktop) {
                                //         transform: translate(435px, -40px);
                                //         -webkit-transform: translate(435px, -40px);
                                //         -moz-transform: translate(435px, -40px);
                                //         -ms-transform: translate(435px, -40px);
                                //         -o-transform: translate(435px, -40px);
                                //     }
                                // }

                                li {
                                    color: #04559f;
                                    list-style-type: none !important;
                                    list-style: none !important;
                                    list-style-position: outside;
                                    overflow: hidden;

                                    .label-title {
                                        font-size: 20px;
                                        font-family: $font_default;
                                        font-weight: 500;
                                        text-align: left;
                                        margin-bottom: 18px;
                                    }
                                    a {
                                        font-weight: 600;
                                        font-size: 18px;
                                        margin-bottom: 8px;
                                    }
                                    .desc-title {
                                        font-size: 16px;
                                        color: #646464;
                                        font-weight: normal;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }

                        &:hover {
                            .produk:after {
                                transform: rotate(180deg);
                            }

                            .dropdown-content.main {
                                display: block;

                                .produk-hover {
                                    li {
                                        // line-height: 1.8;
                                        a {
                                            display: unset;
                                            &:hover > .sub-title {
                                                color: #7ac143;
                                                // font-weight: bold;
                                            }

                                            &.active > .sub-title {
                                                color: #7ac143;
                                                // font-weight: bold;
                                            }
                                        }
                                        .sub-title {
                                            font-family: $font_default;
                                            color: #333333;
                                            font-size: 18px;
                                            font-weight: bold;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .top-nav--mobille {
        display: none;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        left: 0;
        background-color: $white;

        @include breakpoint(mobile) {
            display: block;
        }

        .top-nav {
            height: 30px;
            padding: 5px 0;
            display: flex;
            align-items: center;

            a {
                margin-right: 10px;
                color: $dark;

                &:last-child {
                    margin-right: 0;
                }

                &._personal {
                    color: #04559f;
                    font-weight: bold;
                }

                // &._grup {}
            }

            .active {
                font-weight: bold;
                color: #04559f;
            }

            .link-log {
                .login {
                    padding-right: 15px;
                }
                .user {
                    display: flex;
                    justify-content: flex-end;
                    a.full_name {
                        text-decoration: underline;
                        font-weight: bold;
                        color: #04559f;
                        margin-right: 10px;
                        width: 54px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        &:before {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            -moz-border-radius: 7.5px;
                            -webkit-border-radius: 7.5px;
                            border-radius: 7.5px;
                            background-color: #04559f;
                            margin-right: 10px;
                            position: absolute;
                            top: 5px;
                            left: 0;
                        }
                    }

                    a.logout {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }

                a {
                    &:hover {
                        color: #04559f;
                    }

                    &:focus {
                        text-decoration: none;
                    }
                }
            }
        }

        .navbar-header {
            height: 65px;
            background-color: $primary;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;

            > a {
                padding: 0;
                line-height: 65px;
                height: 65px;
                display: flex;
                align-items: center;
                width: 50%;

                img {
                    max-width: 100%;
                    width: 45px;
                    margin-left: 10px;
                    // margin: 10px;
                    &.header-image-product {
                        margin-left: 15px;
                    }
                }
            }
            .ojk {
                padding: 0 8px;
                .top-desc {
                    margin-bottom: 4px;
                    font-size: 8px;
                    line-height: 8px;
                    color: #ffffff;
                }
                img {
                    width: 75px;
                    margin-left: 0;
                }
            }

            .header-button-wrapper {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                width: 50%;
                > .navbar-toggle[aria-expanded="true"] {
                    line-height: 65px;
                    height: 60px;
                    padding: 0 15px;
                    margin: 0;
                    width: 55px;

                    .icon-bar {
                        background: $light;
                        display: none;
                    }

                    .close-bar {
                        display: block;
                        font-size: 30px;
                        position: relative;
                        top: -7px;
                        color: $light;
                        // left: 6px;
                    }
                }

                > .navbar-toggle[aria-expanded="false"] {
                    line-height: 65px;
                    height: 60px;
                    padding: 0 15px;
                    margin: 0;
                    width: 55px;

                    .icon-bar {
                        background: $light;
                        display: block;
                    }

                    .close-bar {
                        display: none;
                    }
                }

                .button-area--nav {
                    display: block;
                    // float: right;
                    // margin: 12px 0px 12px 15px;

                    a {
                        font-size: 12px;
                        text-transform: uppercase;

                        &:before {
                            right: 10px;
                        }
                    }
                }
                .search-button {
                    margin-left: 20px;
                    margin-right: 5px;
                    a {
                        font-size: 18px;
                        color: #fff;
                    }
                }
            }
        }
    }

    .search-button-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        a {
            font-size: 16px;
            color: #fff;
            position: absolute;
            right: 17px;
            top: 35px;
        }
    }

    .collapse-mobile {
        background-color: $white;
        padding: 0;
        position: fixed;
        z-index: 999;
        left: 0;
        right: 0;
        top: 95px;
        height: 100%;

        .nav .open > a,
        .nav > li > a:hover,
        .nav > li > a:focus {
            background-color: transparent;
        }

        .navbar-nav {
            margin: 15px 0;
            height: 80vh;
            overflow-y: scroll;
            padding: 0;
            padding-bottom: 25px;
            display: none;

            .no-dropdown {
                a {
                    padding-left: 20px;
                }
            }

            @include breakpoint(mobile) {
                display: block !important;
            }

            > li {
                > a {
                    font-weight: bold;
                    font-size: 18px;
                    color: $grey-dark-color;
                    text-transform: capitalize;
                    @include breakpoint(mobile) {
                        padding-left: 0;
                    }

                    &.secondary-menu {
                        padding-left: 20px;
                        @include breakpoint(mobile) {
                            font-size: 16px;
                        }
                    }

                    &.active {
                        color: $green-color;
                    }

                    &.page-active {
                        color: $primary;
                    }
                }

                .about {
                    font-weight: normal;
                    font-size: 1em;
                }

                &.divider {
                    margin: 20px 0;
                    border-top: 1px solid #dddddd;
                }
            }

            .dropdown {
                a {
                    padding-left: 20px;
                }
                > .dropdown-toggle[aria-expanded="false"] {
                    position: relative;
                    background-image: url("/static/images/down_arrow.png");
                    background-size: 20px 12px;
                    background-position: 96% center;

                    // &:after {
                    //     content: "\f107";
                    //     font-family: FontAwesome;
                    //     color: $dark;
                    //     font-size: 40px;
                    //     position: absolute;
                    //     top: 7px;
                    //     right: 10px;
                    // }
                }

                .dropdown-toggle[aria-expanded="true"] {
                    position: relative;
                    background-image: url("/static/images/up_arrow.png");
                    background-size: 20px 12px;
                    background-position: 96% center;

                    // &:after {
                    //     content: "\f106";
                    //     font-family: FontAwesome;
                    //     color: $dark;
                    //     position: absolute;
                    //     font-size: 40px;
                    //     top: 7px;
                    //     right: 10px;
                    // }
                }

                .dropdown-menu {
                    background-color: #f5faff;
                    padding: 0 20px 20px 20px;
                    li {
                        a {
                            color: #565656;
                            padding-top: 0;
                            padding-left: 0;
                            padding-right: 0;

                            &.active > .grandchild {
                                color: $green-color;
                            }
                            .grandchild {
                                margin-bottom: 0;
                                padding: 0 0 4px 0;
                                font-size: 16px;
                                font-weight: bold;
                            }
                            .desc-title {
                                font-size: 14px;
                                font-weight: 400;
                                word-break: break-word;
                                white-space: normal;
                            }
                        }

                        .title-dropdown {
                            color: #04559f;
                            padding: 20px 0 16px 0;
                            font-weight: bold;
                            font-size: 16px;
                            white-space: initial;
                        }
                    }
                }

                .grand-child {
                    li::before {
                        content: "\25A0";
                        color: $grey-dark-color;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                    }

                    li {
                        padding-left: 50px;
                        margin-bottom: 5px;

                        a {
                            padding-left: 8px;
                            font-weight: normal !important;
                        }
                    }
                }
            }
            .lang {
                padding: 15px;
                a {
                    color: #565656;
                    font-size: 14px;
                    padding: 0 15px 0 15px;

                    &:first-child {
                        padding-left: 0;
                        border-right: solid 1px #565656;
                    }
                }
            }
            .link-log {
                font-size: 16px;
                .user {
                    font-size: 18px;
                    color: #565656;
                }
                a {
                    font-weight: bold;
                    padding-left: 20px;
                    color: #565656;
                    &.logout {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

.clearfix {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.re-sort {
    display: flex;
    flex-wrap: wrap;
}
