#ajukan-sekarang {
    &.point-step {
        .sect-title {
            h2 {
                margin-top: 85px;
                font-weight: bold;
            }

            p {
                font-weight: normal;
                @include breakpoint(mobile) {
                    font-size: 13px;
                    line-height: 20px;
                }

                &.title {
                    font-size: 50px;
                    font-weight: bold;
                    color: #04559F;
                    margin-top: 72px;
                    margin-bottom: 10px;

                    @include breakpoint(mobile) {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

.point-step {
    position: relative;
    background: $white;

    .sect-title {
        margin: 0 auto 80px auto;
        h2 {
            color: #04559F;
            font-size: 40px;
            margin-top: 70px;
        }

        p {
            color: #565656;
            font-size: 30px;
        }
    }

    .sect-step {
        margin: 65px 0;
        text-align: center;

        @include breakpoint(mobile) {
            margin: 20px 0;
        }

        .sect-step__item {
            margin: 0 20px;
            display: inline-block;
            vertical-align: top;
            vertical-align: top;

            .text-wrap {
                max-width: 155px;
                max-height: 85px;
            }
        }

        p {
            font-family: 'HelveticaNeue-Light';
            font-size: 1.250em;
            color:#565656;
            @include breakpoint(mobile) {
                font-size: 15px;
                line-height: 25px;
            }
        }

        img {
            display: inline-block;
            vertical-align: top;
            height: 65px;
            margin-bottom: 40px;
            @include breakpoint(mobile) {
                margin-bottom: 20px;
            }
        }
    }

    .btn-ajukan {
        @include breakpoint(mobile) {
            margin-bottom: 90px;
        }

        @include breakpoint(tablet) {
            margin-bottom: 90px;
        }

        text-align: center;
        margin-bottom: 55px;

        .cta-orange {
            text-transform: uppercase;
            width: 220px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            &::after {
                top: 19px;
            }

            @include breakpoint(mobile) {
                font-size: 9px;
                height: 35px;
                width: 150px;
                padding: 0;
            }
        }
    }
}