.profile {
    .sect-title.text-center h2 {
        font-size : 2.250em;
    }
    .sect-list {
        font-size : 20px;
    
        @include breakpoint(mobile){
            font-size: 15px;
        }
        
        h3 {
            font-weight : 600;
            @include breakpoint(mobile){
                margin-left : 5px;
            }
        }
        
        .list {
            padding: 1em 1em 1em 2.5em;
            
            &.contact {
                text-decoration : underline;
                padding: 1em 1em 1em 3em;
        
                @include breakpoint(mobile) {
                    padding: 1em 1em 1em 3.5em;
                }
            }
            
            @include breakpoint(mobile) {
                padding: 1em;
            }
    
            ol {
                list-style: none;
            }
            
            li {
                counter-increment: item;
                margin-bottom: 5px;
    
                @include breakpoint(mobile) {
                    text-indent: -15px;
                }
            }
            
            li:before {
                margin-right: 25px;
                content: counter(item)'.';
                color: black;
                text-align: center;
                display: inline-block;
    
                @include breakpoint(mobile) {
                    margin-right: 15px;
                }
            }
            
            .detail-wrapper {
                display: flex;
                // flex-wrap: wrap;
                
                span.label {
                    text-align : left;
                    color : black;
                    font-size : 20px;
                    width: 35%;
                    font-weight : 500;
    
                    @include breakpoint(mobile) {
                        font-size: 15px;
                    }
                }

                
                span.value-data {
                    &.address {
                        @include breakpoint(mobile) {
                            text-indent: -14px;
                            margin-left: 10%;
                        }
                    }
                    
                    &:before { 
                        content: ':';
                        margin-right : 10px;
                    }
                }
                
            }
        }
    }
}








