.simulasi_pbf {
    margin: 56px auto;
    padding: 56px 0;
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include breakpoint(mobile) {
        padding: 0;
        .row {
            display: block;
        }
    }
    .calc-sect {
        background: linear-gradient(293.35deg, #04559f -34.66%, #257ccb 100%);
        border-radius: 16px;
        color: #ffffff;
        padding: 32px;

        &.smallContent {
            padding: 32px 24px;

            .list-item {
                display: block;
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
                p {
                    color: $white !important;
                    margin-bottom: 0;
                }
            }
        }
        h1 {
            margin-bottom: 28px;
            font-weight: 600;
            font-size: 33px;
        }
        p {
            font-weight: normal;
            font-size: 14px;
            &.desclaimer {
                margin-top: 24px;
                text-indent: -8px;
                padding-left: 8px;
            }
        }
        .price {
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 12px;
        }
        .row {
            margin-bottom: 8px;
        }
        @include breakpoint(mobile) {
            padding: 18px 0;
            margin-top: 44px;
            h1 {
                font-weight: 600;
                font-size: 20px;
            }
            p {
                font-size: 13px;
            }
            .price {
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
    .tenor {
        input[type="radio"] {
            position: absolute;
            visibility: hidden;
            display: none;
        }

        label {
            text-align: center;
            cursor: pointer;
            background: #ffffff;
            border: 2px solid #ffffff;
            color: #8b8b8b;
            box-sizing: border-box;
            border-radius: 4px;
            font-weight: normal;
            font-size: 14px;
            padding: 12px 20px;
            transition: 0.2s;
        }

        input[type="radio"]:checked + label {
            color: #ffffff;
            background: $blue-dark-color;
            border: 2px solid #0085d5;
        }

        .radio-group {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            @include breakpoint(mobile) {
                label {
                    width: calc(48%);
                    margin-bottom: 16px;
                }
            }
        }
    }
    .estimasi {
        margin-top: 16px;
        background: #ffffff;
        border-radius: 8px;
        padding: 32px;
        p {
            color: $blue-dark-color !important;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.15px;
        }
        #result-estimasi {
            color: $blue-dark-color !important;
            font-weight: 600;
            font-size: 33px;
            line-height: 53px;
            letter-spacing: 0.25px;
            span {
                color: #b42218;
            }
        }
        @include breakpoint(mobile) {
            margin-top: 0;
            p {
                font-size: 15px;
            }
            #result-estimasi {
                font-size: 30px;
            }
        }
    }
    .desc-sect {
        padding: 0 58px;
        .desc-title {
            font-weight: 600;
            font-size: 38px;
            line-height: 48px;
            letter-spacing: -1.2px;
            color: $blue-dark-color;
        }
        .desc-text {
            font-weight: normal;
            font-size: 18px;
            line-height: 32px;
        }
        @include breakpoint(mobile) {
            text-align: center;
            padding: 0 8px;
            .desc-title {
                font-weight: 600;
                font-size: 24px;
                line-height: 39px;
            }
        }
    }

    .wrap-btn {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        .cta {
            width: 100%;
            text-transform: uppercase;
        }
    }

    .btn-ajukan {
        @include breakpoint(mobile) {
            margin-bottom: 90px;
        }

        @include breakpoint(tablet) {
            margin-bottom: 90px;
        }

        text-align: center;

        .cta-orange {
            text-transform: uppercase;
            width: 220px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;

            &::after {
                top: 19px;
            }

            @include breakpoint(mobile) {
                font-size: 14px;
                width: 100%;
                padding: 16px 0;
                margin: 0 auto;
            }
        }
    }
    #desk-btn {
        display: block;
        margin-top: 48px;
        @include breakpoint(mobile) {
            display: none;
        }
    }
    #mobile-btn {
        display: none;
        margin-top: 24px;
        margin-bottom: 0;
        @include breakpoint(mobile) {
            display: block;
        }
    }
}
