.st-mp{
    font-family: $font_default;
    margin: 40px auto ;
    .mp-list{
        width: 100%;
        @include breakpoint(mobile){
            display: flex;
            flex-flow: column wrap;
            width: 100%;
            margin-left: -8px;
        }
        @include breakpoint(tablet){
            display: flex;
            flex-flow: column wrap;
            width: 100%;
            margin-left: -8px;
        }
    }

    span{
        color: $grey-dark-color;
    }

    .xs-6{
        @include breakpoint(mobile){
            width: 50%;
        }
         @include breakpoint(tablet){
            width: 50%;
        }
    }

    h3{
        font-size: 20px;
        font-weight: bold;
        padding:  10px 0;
        color: $grey-dark-color;
        margin: 0px;
        @include breakpoint(mobile){
            font-size: 16px;
            padding: 5px 0 ;
        }
    }

    .title-small{
        @extend h3;
        color: $blue-dark-color;
        border-bottom: solid 1px $blue-dark-color;
        
    }

    li{
        list-style: none;
        font-size: 16px;
        margin: 5px 0;
        text-decoration: none;
        
        @include breakpoint(mobile){
            font-size: 14px;
            padding-right: 10px;;
        }
    }

    div[class^="col-"]{
        @include breakpoint(mobile){
            padding: 0%;
            margin: 0 8px 8px 0; /* Some gutter */
        }
        @include breakpoint(tablet){
            padding: 0%;
            margin: 0 8px 8px 0; /* Some gutter */
        }
    }

    @include breakpoint(mobile){
        padding: 1em;
        margin: 20px auto;
    }
}