.slider-author {
    position: relative;
    height: 400px;

    @include breakpoint(mobile) {
        height: auto;
    }

    .row {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;

        @include breakpoint(mobile) {
            position: relative;
            top: 0;
            transform: unset;
        }
    }

    .slider-author__wrapper {
        .item-slide {
            position: relative;
            height: 400px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;

            &::after {
                position: absolute;
                content: "";
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                background: rgba(147,206,222,0);
                background: -moz-linear-gradient(top, rgba(147,206,222,0) 0%, rgba(6,65,117,0.84) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,0)), color-stop(100%, rgba(6,65,117,0.84)));
                background: -webkit-linear-gradient(top, rgba(147,206,222,0) 0%, rgba(6,65,117,0.84) 100%);
                background: -o-linear-gradient(top, rgba(147,206,222,0) 0%, rgba(6,65,117,0.84) 100%);
                background: -ms-linear-gradient(top, rgba(147,206,222,0) 0%, rgba(6,65,117,0.84) 100%);
                background: linear-gradient(to bottom, rgba(147,206,222,0) 0%, rgba(6,65,117,0.84) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#064175', GradientType=0 );
                
            }

            @include breakpoint(mobile) {
                height: auto;
                padding: 50px 0;
            }
        

            &::before {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }

        .img-wrap {
            @include breakpoint(mobile) {
                padding-bottom: 20px;
            }
        }

        img {
            width: 100%;

            @include breakpoint(mobile) {
                width: 30%;
                margin: auto;
            }
        }

        .text-wrapper {
            width: 70%;

            @include breakpoint(mobile) {
                margin: auto;
            }
        }

        .slick-dots {
            bottom: 20px;
            text-align: center;

            @include breakpoint(mobile) {
                text-align: left;
                padding-left: 70px;
            }
            
        }

        .author {
            margin-top: 30px;
        }

        h4 {
            font-family: 'HelveticaNeue-Medium';
            color: $white;
            font-size: 1.3em;

            strong {
                font-size: 1.1em;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        p {
            font-family: 'HelveticaNeue';
            font-size: 1.250em;
            color: $white;
        }
    }

    .slick-dots {
        li {
            width: 10px;
            height: 8px;
            background: $white;
            transition: all .3s ease-in-out;
        }
        .slick-active {
            width: 40px;

        }
    }

    .slick-arrow {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        background: $white;
        z-index: 9;
        cursor: pointer;
        padding: 10px 20px;
    }

    .fa-angle-left {
        left: 30px;
        color: $blue-dark-color;
        font-size: 30px;

        @include breakpoint(mobile) {
            left: 0;
        }
    }

    .fa-angle-right {
        right: 30px;
        color: $blue-dark-color;
        font-size: 30px;

        @include breakpoint(mobile) {
            right: 0;
        }
    }

}