.image-title{
    margin-bottom: 80px;

    h3{
        font-size: 40px;
        font-family: 'HelveticaNeue-Bold';
        margin: 80px 0 50px 0;
        text-align: center;
        color: #04559F;
    }

    img{
        margin: 0;
        width: 100%;
        height: auto;
    }
}