.title-download {
    // margin-bottom: 70px;
    .title {
        margin-bottom: 10px;
    }

    h3 {
        font-family: 'HelveticaNeue';
        font-weight: 600;
        font-size: 24px;
        color: #04559F;
        margin-top: 20px;
        text-align: left;
        margin-bottom: 0;
    }

    .download-btn{
        margin: auto 0;

        .down-box {
        
            .cta-down{
                position: relative;
                padding-left: 56px;
                padding-right: 0;
                letter-spacing: 0;

                @include breakpoint(mobile) {
                    margin: 10px 10px 0 0;
                }

                &::before{
                    content: "\f019";
                    display: block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    font-family: FontAwesome;
                    font-size: 15px;
                    color: #fff;
                    background-color: #F9991C;
                    position: absolute;
                    top: 0px;
                    left: 0;

                    @include breakpoint(mobile) {
                        width: 40px;
                        height: 40px;
                        font-size: 15px;
                    }
                }

                span{
                    font-family: HelveticaNeue-Bold;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #565656;
                    border-bottom: 2px solid #000;
                    
                    @include breakpoint(mobile) {
                        
                    }
                }

            }
        }
    }
}